@model MVCNBlog.ViewModels.User.RegisterUserViewModel

@{
    ViewBag.Title = "Create";
}

<h2 style="text-align: center">Create user</h2>

<div class="clearfix newsletter regester">
    @using (Html.BeginForm())
    {
        {
            @Html.AntiForgeryToken()
            <div>
                @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
                @Html.TextBox("Email", null, new {id = "mce-EMAIL", type = "email", placeholder = "Email"})
                @Html.ValidationMessageFor(m => m.Email, null, new {@class = "text-danger"})
            </div>

            <div>
                @Html.LabelFor(m => m.Name, new {@class = "col-md-2 control-label"})
                @Html.TextBox("Name", null, new {id = "mce-EMAIL", type = "text", placeholder = "Name"})
                @Html.ValidationMessageFor(m => m.Name, null, new {@class = "text-danger"})
            </div>

            @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
            @Html.PasswordFor(m => m.Password, new {@class = "form-control", placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password, null, new {@class = "text-danger"})
            <div>
                @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-2 control-label"})
                @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new {@class = "text-danger"})
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Role, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    <select class="form-control" id="roles" name="roleId">
                        <option value="1">Admin</option>
                        <option value="2">Moderator</option>
                        <option value="4">User</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default"/>
                </div>
            </div>
        }
    }
</div>
    <div>
        @Html.RouteLink("Back to users", "AllUsers", new { action = "All" }, new { @class = "btn btn-default" })
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
