@model MVCNBlog.ViewModels.User.UserViewModel

@{
    ViewBag.Title = "Index";
}
<h1 style="text-align: center">User</h1>
<div class="clearfix single_content">
    <div class="clearfix user_picture floatleft">
        <a href="@Url.RouteUrl("UserAction", new {action = "Index", name = Model.Name, id = Model.Id})">
            @Html.Raw("<img style='width:100px; height:100px;' src=\"data:image/jpeg;base64,"
                              + Convert.ToBase64String(Model.UserPic) + "\" />")
        </a>

    </div>
    <div class="clearfix post_detail">
        <div class="clearfix post_excerpt">
            <p>
                <b>User name:</b>
                @Html.DisplayFor(modelItem => Model.Name)
            </p>
            <p>
                <b>Creation date:</b>
                @Html.DisplayTextFor(modelItem => Model.CreationDate)
            </p>
            <p>
                <b>Rank:</b>
                @Html.DisplayTextFor(modelItem => Model.Rank)
            </p>
            <p>
                <b>Role:</b>
                @Html.DisplayFor(modelItem => Model.Role.RoleName)
            </p>
            @if (Model.PayedRole != null)
            {
                <p>
                    <b> Payed role:</b>
                    @Html.DisplayTextFor(modelItem => ((IRole)Model.PayedRole).RoleName)
                </p>
            }
            <p style="text-indent: 15px;">
                @if (Roles.IsUserInRole("Moderator") || Roles.IsUserInRole("Administrator"))
                {
                    <i class="fa fa-cog"></i>@Html.RouteLink("Edit user", "UserAction", new {action = "Edit", name = Model.Name, id = Model.Id})
                    <i class="fa fa-cog"></i>@Html.RouteLink("Delete user", "UserAction", new {action = "Delete", name = Model.Name, id = Model.Id})
                }
            </p>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Article/AllArticles.cshtml", Model.Articles)

<div>
    @Html.RouteLink("Back to users", "AllUsers", new { action = "All" },
        new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
