@using MVCNBlog.ViewModels.Roles
@model IEnumerable<MVCNBlog.ViewModels.UserViewModel>
@{
    ViewBag.Title = "Home Page";
}

<h2>All users</h2>
    @foreach (var item in Model)
    {
        <b>User name:</b>
        @Html.DisplayFor(modelItem => item.Name)
        <b>Creation date:</b>
        @Html.DisplayTextFor(modelItem => item.CreationDate)

        @Html.ActionLink("Edit user", "Edit", new {item.Id})
        @Html.ActionLink("Delete user", "Delete", new {item.Id})

        <br/>
        <b> &nbsp; &nbsp; Role:</b>
        @Html.DisplayFor(modelItem => item.Role.RoleName)

        if (item.PayedRole != null)
        {
            <br />
            <b> &nbsp; &nbsp; Payed role:</b>
            @Html.DisplayTextFor(modelItem => ((IRole)item.PayedRole).RoleName)
        }

        <br/>
    }

<a href="create">Create user</a>
<a href="delete">Delete user</a>
