@model MVCNBlog.ViewModels.User.UserViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="form-horizontal">
    <h4>User</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div id="userPic">
        @Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
                  + Convert.ToBase64String(Model.UserPic) + "\" />")
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayTextFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Rank, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayTextFor(model => model.Rank)
            @Html.ValidationMessageFor(model => model.Rank, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select class="form-control" name="roleId">
                <option value="@Model.Role.RoleId" selected>@Model.Role.RoleName</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Is VIP</label>
        <div class="col-md-10">
            @if (Model.PayedRole != null)
            {
                <input type="checkbox" name="isVip" checked />
            }
            else
            {
                <input type="checkbox" name="isVip" />
            }
        </div>
    </div>
</div>

<h2>User's articles</h2>
@foreach (var article in Model.Articles)
{
    <b>Title:</b>
    @Html.DisplayFor(modelItem => article.Title)
    <br />
    <b>Content:</b>
    @Html.DisplayFor(modelItem => article.Content)
    <br />
    <b>Publication date:</b>
    @Html.DisplayTextFor(modelItem => article.PublicationDate)
    <br />
    <b>Author:</b>
    @Html.DisplayTextFor(modelItem => article.Author.Name)
    <br />
    <b>Tags:</b>
    foreach (var tag in article.Tags)
    {
        <b> &nbsp;</b>
        @Html.DisplayFor(modelItem => tag)
    }

    foreach (var comment in article.Comments)
    {
        <br />
        <b> &nbsp; &nbsp; Comment:</b>
        @Html.DisplayFor(modelItem => comment.Content)
        <b> &nbsp; &nbsp; Author's comment:</b>
        @Html.DisplayFor(modelItem => comment.Author.Name)
    }
    <br />
     if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
     {
         @Html.RouteLink("View article", "ArticleAction", new {action = "Index", title = article.Title, id = article.Id})
         @Html.RouteLink("Edit article", "ArticleAction", new {action = "Edit", title = article.Title, id = article.Id})
         @Html.RouteLink("Delete article", "ArticleAction", new {action = "Delete", title = article.Title, id = article.Id})
     }
    <br />
}

<div>
    @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
    {
        @Html.RouteLink("Edit user", "UserAction", new { action = "Edit", name = Model.Name, id = Model.Id },
       new { @class = "btn btn-default" })
        @Html.RouteLink("Delete user", "UserAction", new { action = "Delete", name = Model.Name, id = Model.Id },
       new { @class = "btn btn-default" })
    }
</div>

<div>
    @Html.RouteLink("Back to users", "AllUsers", new { action = "All" },
        new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
