<!DOCTYPE html>
<html>
<head>    
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    @RenderSection("scripts", required: false)
    <!--Oswald Font -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="~/Content/yellow-blog/tooltipster.css" />
    <!-- home slider-->
    <link href="~/Content/yellow-blog/pgwslider.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/yellow-blog/font-awesome.min.css">
    <link href="~/Content/yellow-blog/style.css" rel="stylesheet" media="screen">
    <link href="~/Content/yellow-blog/responsive.css" rel="stylesheet" media="screen">
</head>
<body style="padding: 0;">
    <section id="header_area">
        <div class="wrapper header" style="height: 135px">
            <div class="clearfix header_top">
                <div class="clearfix logo floatleft">
                    <a href="@Url.RouteUrl("Main")"><h1><span>N</span> Blog</h1></a>
                </div>
                <div class="clearfix search floatright">
                    @using (Html.BeginForm("Find", "Article"))
                    {
                        <input type="text" name="term" id="findArticle" placeholder="Start with # to find by tag." />
                        <input type="submit" />
                    }
                </div>
            </div>
            <div class="header_bottom" style="height: 50px">
                <nav>
                    <ul id="nav">
                        <li>@Html.RouteLink("Home", "Main")</li>
                        <li>@Html.RouteLink("Popular", "AllArticles", new { action = "Popular"})</li>
                        <li>@Html.RouteLink("Account", "ViewAccount")</li>
                        <li><a href="">Category</a></li>
                        <li><a href="">Category</a></li>
                        <li><a href="">Category</a></li>
                        <li><a href="">Category</a></li>
                        <li><a href="">Category</a></li>
                        <li><a href="">About us</a></li>
                        <li><a href="">Contact us</a></li>
                        <li id="dropdown">
                            <a href="">Drop Down</a>
                            <ul>
                                <li><a href="">Category</a></li>
                                <li><a href="">About us</a></li>
                                <li><a href="">Contact us</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>


<section style="padding: 0" id="content_area">
    <div class="clearfix wrapper main_content_area">
        @RenderBody()
    </div>
</section>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
</body>
</html>
