
@using (Html.BeginForm("Login", "Account", new {returnUrl = ViewBag.ReturnUrl}, FormMethod.Post,
    new {@class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()
    <h2>Signup for more</h2>
    @Html.TextBox("Email", null, new {id = "mce-EMAIL", type = "email", placeholder = "Email"})
    @Html.TextBox("Password", null, new {id = "mce-TEXT", type = "password", placeholder = "Password"})
    <p>
        <h3>@Html.Raw("Remember me") </h3> @Html.CheckBox("RememberMe")
    </p>
    <input type="submit" value="Login" id="mc-embedded-subscribe"/>
    @Html.RouteLink("Register", "AuthAction", new {action = "Register"})
}
