@model IEnumerable<MVCNBlog.ViewModels.ArticleViewModel>
@{
    ViewBag.Title = "All";
}

<h2>All articles</h2>
@foreach (var article in Model)
{
    <b>Content:</b>
    @Html.DisplayFor(modelItem => article.Content)
    <b>Publication date:</b>
    @Html.DisplayTextFor(modelItem => article.PublicationDate)
    <b>Author:</b>
    @Html.DisplayTextFor(modelItem => article.Author.Name)
    <b>Tags:</b>
    foreach (var tag in article.Tags)
    {
        <b> &nbsp;</b>
        @Html.DisplayFor(modelItem => tag)
    }

    foreach (var comment in article.Comments)
    {
        <br/>
        <b> &nbsp; &nbsp; Comment:</b>
        @Html.DisplayFor(modelItem => comment.Content)
        <b> &nbsp; &nbsp; Author's comment:</b>
        @Html.DisplayFor(modelItem => comment.Author.Name)
    }
    <br/>

    @Html.ActionLink("Edit article", "Edit", new {article.Id})
    @Html.ActionLink("Delete article", "Delete", new {article.Id})

    <br/>
}

@Html.ActionLink("Create article", "Create")




