@model MVCNBlog.ViewModels.ListViewModel<MVCNBlog.ViewModels.ArticleViewModel>

@{
    ViewBag.Title = "Interesting articles";
}

<div id="artcilesOutput">
    <div class="clearfix main_content floatleft">
        <div class="clearfix content">
            <div class="content_title">
                <h2>Latest Blog Post</h2>
            </div>
            @(TempData["isFind"] != null ? Html.Partial("Find", Model.ViewModels) : Html.Partial("AllArticles", Model.ViewModels))

            <div class="pagination pager">
                <nav>
                    <ul>
                        @Html.PageLinks(Model.PagingInfo, x => Url.RouteUrl("PagedArticles", new { page = x }))
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="clearfix sidebar_container floatright">
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="clearfix newsletter">
                @Html.Partial("_Login", null)
            </div>
        }
        <div class="clearfix sidebar">
            @Html.Action("PopularSide")

            @Html.Action("RecentSide")
        </div>
    </div>
</div>


@section scripts
{
    <link rel="stylesheet" href="/Content/themes/base/jquery-ui.css">
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('keyup', '#findArticle', (function (e) {
                var findInputVal = $("#findArticle").val();
                var urlVal;
                if (findInputVal.startsWith("#")) {
                    findInputVal = findInputVal.replace('#', '-hashtag-');
                }

                var url = '@Url.Action("Find", "Article")/' + findInputVal;

                $.ajax({
                    url: url,
                    cache: false,
                    type: "GET",
                    success: function (data) {
                        
                        $('#allArticles').html(data);

                        if (findInputVal === '')
                            $('.content_title h2').text('Latest Blog Post');
                        else
                            $('.content_title h2').text('Finded Posts');

                        window.history.pushState("finded articles", "", "/articles/find/" + findInputVal);

                    },
                    error: function (reponse) {
                    }
                });
            }));
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', '.page', (function (e) {
                var newVal = $(e.target).attr("value");
                var url = '@Url.Action("All", "Article")/page' + newVal;

                $.ajax({
                    url: url,
                    cache: false,
                    type: "GET",
                    success: function (data) {
                        $('#artcilesOutput').replaceWith(data);
                        window.history.pushState("all articles", "", "/articles/page" + newVal);
                    },
                    error: function (reponse) {
                    }
                });
                e.preventDefault();
            }));
        });
    </script>
}


