@model IEnumerable<MVCNBlog.ViewModels.CommentViewModel>

@foreach (var comment in Model)
{
    <br />
        <b> &nbsp; &nbsp; Comment:</b>
        @Html.DisplayFor(modelItem => comment.Content)
        <b> &nbsp; &nbsp; Author's comment:</b>
            @Html.DisplayFor(modelItem => comment.Author.Name)

            @Html.RouteLink("View user", "UserAction", new { action = "Index", name = comment.Author?.Name, id = comment.Author?.Id },
            new { @class = "btn btn-default" })
            <b> &nbsp; &nbsp; Publication time:</b>
            @Html.DisplayFor(modelItem => comment.PublicationDate)

    if (User.IsInRole("Administrator"))
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.RouteLink("Edit comment", "CommentAction", new { id = comment.Id }, new { @class = "btn btn-default" })
            </div>
        </div>
    }
}