@using System.Globalization
@model IEnumerable<MVCNBlog.ViewModels.ArticleViewModel>


<div id="allArticles">
    <h2>@ViewBag.GroupName</h2>

    @foreach (var article in Model)
    {

        <div class="clearfix single_content">
            <div class="clearfix post_date floatleft">
                <div class="date">
                    <h3>@article.PublicationDate.Day</h3>
                    <p>@article.PublicationDate.ToString("MMMM", CultureInfo.InvariantCulture)</p>
                </div>
            </div>
            <div class="clearfix post_detail">
                <h2>
                    <a href=""> @Html.DisplayFor(modelItem => article.Title). </a>
                </h2>
                <div class="clearfix post-meta">
                    <p>
                        <span>
                            <i class="fa fa-user"></i>
                        </span> <span><i class="fa fa-comment"></i> @article.Comments.Count()</span>
                    </p>
                    <p><span><i class="fa fa-hashtag" aria-hidden="true"></i> @Html.Raw(string.Join(", ", article.Tags))</span></p>
                </div>
                <div class="clearfix post_excerpt">
                    @if (article.HeaderPicture != null)
                    {
                        @Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(article.HeaderPicture) + "\" />")
                    }
                    <p>
                        @Html.HighLightTags(article.Header)
                    </p>
                </div>
                @Html.RouteLink("Continue", "ArticleAction", new { action = "Index", title = article.Title, id = article.Id })

                @if (article.Author?.Email == User.Identity.Name || Roles.IsUserInRole("Moderator") ||
                     Roles.IsUserInRole("Administrator"))
                {
                    @Html.RouteLink("Edit Post", "ArticleAction", new { action = "Edit", title = article.Title.RemoveSpecialCharacters(), id = article.Id })
                    @Html.RouteLink("Delete Post", "ArticleAction", new { action = "Delete", title = article.Title.RemoveSpecialCharacters(), id = article.Id })
                }
            </div>
        </div>
    }
</div>

