@model IEnumerable<MVCNBlog.ViewModels.ArticleViewModel>
@{
    ViewBag.Title = "Find";
}

<h2>Finded articles</h2>
@foreach (var article in Model)
{
    <b>Title:</b>
    @Html.DisplayFor(modelItem => article.Title)
    <br />
    <b>Content:</b>
    @Html.DisplayFor(modelItem => article.Content)
    <br />
    <b>Publication date:</b>
    @Html.DisplayTextFor(modelItem => article.PublicationDate)
    <br />
    <b>Author:</b>
    @Html.DisplayTextFor(modelItem => article.Author.Name)
    <br />
    <b>Tags:</b>
    foreach (var tag in article.Tags)
    {
        <b> &nbsp;</b>
        @Html.DisplayFor(modelItem => tag)
    }

    foreach (var comment in article.Comments)
    {
        <br />
        <b> &nbsp; &nbsp; Comment:</b>
        @Html.DisplayFor(modelItem => comment.Content)
        <b> &nbsp; &nbsp; Author's comment:</b>
        @Html.DisplayFor(modelItem => comment.Author.Name)
    }
    <br />
    @Html.RouteLink("View article", "ArticleAction", new { action = "Index", title = article.Title, id = article.Id })
    @Html.RouteLink("Edit article", "ArticleAction", new { action = "Edit", title = article.Title, id = article.Id })
    @Html.RouteLink("Delete article", "ArticleAction", new { action = "Delete", title = article.Title, id = article.Id })

    <br />
}