@model MVCNBlog.ViewModels.CommentViewModel

@{
    ViewBag.Title = "Comment";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Comment"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ArticleId)

        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Content, new {htmlAttributes = new { cols = 100, @rows = 3 } })
                @Html.ValidationMessageFor(model => model.Content, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Delete","Comment"))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ArticleId)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    </div>
}
