@model MVCNBlog.ViewModels.AccountViewModel

@{
    ViewBag.Title = "Edit account";
}
<h2 style="text-align: center">Edit account</h2>

<div class="clearfix newsletter regester">
    @using (Html.BeginForm())
    {
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.Id)

            <div>
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                @Html.TextBox("Name", null, new { id = "mce-EMAIL", type = "text", placeholder = "Name" })
                @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    <select class="form-control" id="roles" name="roleId">
                        <option value="1">Admin</option>
                        <option value="2">Moderator</option>
                        <option value="4">User</option>
                    </select>
                </div>
            </div>

            <div>
                <input type="submit" style="margin-left: 70px;" value="Save" class="user_edit" />
            </div>
        }
    }

    @using (Html.BeginRouteForm("EditAccount", new {action = "EditVipStatus"}))
    {
        @Html.HiddenFor(model => model.Id)
        if (Model.PayedRole != null)
        {
            <input type="hidden" name="isVip" value="off"/>

            <button class="subs_submit" type="submit">Stop a subscription <i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
        }
        else
        {
            <input type="hidden" name="isVip" value="on"/>

            <button class="subs_submit" type="submit">Buy a subscription <i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
        }
    }

    <h2 style="margin-left: 74px;">Profile picture</h2>
    <div id="userPic">
        @Html.Raw("<img style='width: 153px;height: 152px;margin-left: 57px' src=\"data:image/jpeg;base64,"
              + Convert.ToBase64String(Model.UserPic) + "\" />")
    </div>

    <div id="loading" class="load" style="display: none">
        <p>Loading Picture...</p>
    </div>
    @using (Html.BeginRouteForm("EditUser", new { id = Model.Id }, FormMethod.Post, new { id = "uploadForm", enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)

        <input type="hidden" name="id" id="userId" value="@Model.Id" />
        <fieldset style="border: none; margin-left: 60px">
            <legend style="font-weight: normal; margin: 0 31px 15px; font-family: 'Oswald', sans-serif;">Change picture</legend>

            <input type="file" id="uploadImage" name="uploadImage" class="inputfile" />
            <label for="uploadImage">
                <i class="fa fa-file-image-o" aria-hidden="true"></i> Choose a file
            </label>

            <p>
                <input type="submit" id="picSubmit" style="margin-left: 17px;" value="Change" />
            </p>
        </fieldset>
    }

    <label id="picError">@TempData["PicError"]</label>
</div>

<div>
    @Html.RouteLink("Back to account", "ViewAccount", null, new { @class = "btn" })
</div>

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/scripts/jquery.unobtrusive-ajax.js")"></script>
    <script>

        $(document).ready(function() {
            $('#uploadForm').submit(function(e) {
                if (window.FormData !== undefined) {
                    var id = $("#userId").val();
                    var fileUpload = $("#uploadImage").get(0);
                    var files = fileUpload.files;

                    var fileData = new FormData();

                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }

                    $("#loading").show('slow');

                    e.preventDefault();
                    $.ajax({
                        url: '/Users/' + id + '/UpdatePicture',
                        type: "POST",
                        contentType: false,
                        processData: false,
                        data: fileData,
                        success: function(result) {
                            if ($.type(result.ProfilePicture) !== "undefined") {
                                var results = $('#userPic');
                                results.empty();

                                results.append("<img style='width: 153px;height: 152px;margin-left: 57px' src=\"data:image/jpeg;base64,"
                                    + result.ProfilePicture + "\" />");
                            }

                            $('#picError').text(result.ErrorMessage);
                        },
                        error: function(err) {
                            alert("Cannot upload image.");
                        }
                    });

                } else {
                    alert("FormData is not supported.");
                }

                $("#loading").hide('slow');
            });
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
