@model MVCNBlog.ViewModels.AccountViewModel

@{
    ViewBag.Title = "Account";
}
<h1 style="text-align: center">Account</h1>
<div class="clearfix single_content">
    <div class="clearfix user_picture floatleft">
        <a href="@Url.RouteUrl("UserAction", new {action = "Index", name = Model.Name, id = Model.Id})">
            @Html.Raw("<img style='width:100px; height:100px;' src=\"data:image/jpeg;base64,"
                      + Convert.ToBase64String(Model.UserPic) + "\" />")
        </a>

    </div>
    <div class="clearfix post_detail">
        <div class="clearfix post_excerpt">
            <p>
                <b>Email:</b>
                @Html.DisplayFor(modelItem => Model.Email)
            </p>
            <p>
                <b>User name:</b>
                @Html.DisplayFor(modelItem => Model.Name)
            </p>
            <p>
                <b>Creation date:</b>
                @Html.DisplayTextFor(modelItem => Model.CreationDate)
            </p>
            <p>
                <b>Rank:</b>
                @Html.DisplayTextFor(modelItem => Model.Rank)
            </p>
            @*<p>
                <b>Subscription cost:</b>
                @Html.DisplayFor(modelItem => Model.SubscriptionCost)
            </p>*@
            <p>
                <b>Role:</b>
                @Html.DisplayFor(modelItem => Model.Role.RoleName)
            </p>
            @if (Model.PayedRole != null)
            {
                <p>
                    <b> Payed role:</b>
                    @Html.DisplayTextFor(modelItem => ((IRole) Model.PayedRole).RoleName)
                </p>
            }
        </div>
    </div>
</div>

<div>
    @Html.RouteLink("Edit account", "AccountAction", new { action = "Edit"}, new { @class = "btn btn-default" })
</div>
<div>
    @Html.RouteLink("Delete account", "AccountAction", new { action = "Delete" }, new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
